<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Console.fm</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css" rel="stylesheet" type="text/css">
    <style>
      html, body {
        height: 100%;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        color: #333;
      }
      .table {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: 100%;
      }
      .table-cell {
        display: table-cell;
        vertical-align: middle;
      }
      .header {
        text-align: center;
      }
      .h1 {
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .h2 {
        font-weight: normal;
      }
      .cover-bg {
        background-color: #ddd;
        /* Photo Credit: Taylor Leopold - http://www.taylorleopoldphoto.com/ */
        background-image: url(cover-bg.jpg);
        background-size: cover;
        background-position: center center;
      }
    </style>
  </head>
  <body class="cover-bg <%= page_classes %>">
    <section class="table">
      <article class="table-cell">
        <header class="header">
          <h1 class="h1">
            Console.fm
          </h1>
          <h2 class="h2">
            Awesome electronic music, curated by top artists. 2011-2014
          </h2>
        </header>
      </article>
    </section>
  </body>
</html>
