@charset "utf-8";

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.header {
  text-align: center;
}

.h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.h2 {
  font-weight: normal;
}

.cover-bg {
  background-color: #ddd;
  background-image: url(../images/cover-bg.jpg);
  background-size: cover;
  background-position: center center;
}
